html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  background-color:  #f5f5f7;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar.bg-light {
  background-color: #f3e2b3 !important;
}

.navbar.bg-light {
  background-color: #f3e2b3 !important;
}
.navbar.bg-light .form-control {
  border-radius: 4.25rem;
}

.navbar-nav {
  margin-right: 20px;
  font-size: 20px;
}

.nav-link {
  transition: all 0.2s;
}
.nav-link:hover {
  font-size: 22px;
  text-decoration: underline;
  border-bottom: 2px solid #fff;
}

h1,
h4,
p {
  text-align: center;
  margin-left: 40px;
}
footer.h1,
h4,
p {
  text-align: left;
}
form {
  width: 300px;
  margin-left: 50px;
}

form label {
  display:grid;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}

.para-2 a {
  color: #49c1a2;
}
.bg-img {
  /* The image used */
  background-image: url('images/main_pictures/kuu.jpg');

  /* Control the height of the image */
  min-height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  right: 30em;
  margin: 20px;
  max-width: 100px;
  padding: 16px;
  background-color: #f3e2b3;
  border-radius: 20px;
}
input[type=text], input[type=password], input[type=email] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-left: px;
  border: none;
  background: #f1f1f1;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
footer {
  background-color: rgb(249, 244, 215);
  margin: 0px;
  padding: 15px;
}

.navbarlink {
  text-decoration: none;
  color: black;
}

.navbarlink:active {
  color: #fff;
}

.navbarlink:hover {
  color: red;
}
.success-alert {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  padding: 15px;
  text-align: center;
  background-color: #76e045;
  color: #fff;
  border-radius: 5px;
  animation: successAnimation 0.5s;
}

@keyframes successAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}